.edit-plan {
  background: transparent;
  color: #000;
  border: 0;
  padding: 10px 5px 5px 10px;
  font-size: 15px;
  }
  
  .delete-btn {
  padding: 7px 5px 5px;
  border: 0;
  }
  
  .edit-plan:hover,
  .add-sub-plan:hover,
  .add_plan_action_data:hover,
  .delete_field:hover {
  background: transparent;
  color: #000 !important;
  border: 0;
  }
  
  .add-sub-plan,
  .add_plan_action_data,
  .delete_field {
  background: transparent;
  color: #000;
  border: 0;
  font-size: 20px;
  padding: 10px 5px 5px;
  }
  
  .edit-plan:focus,
  .add-sub-plan:focus,
  .delete-btn:focus,
  .add_plan_action_data:focus,
  .delete_field:focus {
  background: transparent;
  color: #000 !important;
  border: none;
  box-shadow: none;
  outline: 0;
  }
  
  .edit-plan:active,
  .add-sub-plan:active,
  .delete-btn:active,
  .add_plan_action_data:active,
  .delete_field:active {
  background-color: transparent !important;
  color: #000 !important;
  border: none;
  box-shadow: none !important;
  outline: 0 !important;
  }
  
  .add-sub-plan:focus-visible,
  .edit-sub-plan:focus-visible,
  .add_plan_action_data:focus-visible,
  .delete_field:focus-visible {
  outline: 0;
  }
  
  .expand-2>td:first-child {
  border-bottom: 0 !important;
  border-top: 0;
  }
  
  table#store_website-analytics-table tr td:last-child {
  width: 150px;
  }
  
  .r-date {
  width: 95px;
  }
  
  .no-border {
  border-bottom: 0 !important;
  border-top: 0 !important;
  }
  
  h1 {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
  }
  
  h2 {
  font-size: 24px;
  font-weight: 600;
  }
  
  h3 {
  font-size: 20px;
  font-weight: 600;
  }
  
  table {
  border: 1px;
  border-radius: 4px;
  }
  
  table th {
  font-weight: normal;
  font-size: 15px;
  color: #000;
  }
  
  table td {
  font-weight: normal;
  font-size: 14px;
  color: #757575;
  }
  
  td button.btn {
  padding: 0;
  }
  
  div#plan-action textarea {
  height: 200px;
  }
  
  .switch {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 19px;
  margin-bottom: 0;
  margin-right: 11px
  }
  
  .actions-main-sub {
  vertical-align: middle;
  display: flex;
  align-items: center
  }
  
  .switch input {
  opacity: 0;
  width: 0;
  height: 0
  }
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s
  }
  
  input:checked+.slider {
  background-color: #2196f3
  }
  
  input:focus+.slider {
  box-shadow: 0 0 1px #2196f3
  }
  
  input:checked+.slider:before {
  -webkit-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px)
  }
  
  .slider.round {
  border-radius: 34px
  }
  
  .slider.round:before {
  border-radius: 50%
  }
  
  #loading-image {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 60
  }
  